.stats {
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.5);
    padding:10px 20px;
}
.stats img {
    width:24px;
    height: 24px;
}
.stats__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.stats__value {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.stats p {
    font-size: 12px;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    .stats {
        width:90%;
        margin:0 auto;
        box-shadow: none;
        background: none;
    }
}