.home__header {
    display: flex;
    justify-content: center;
}
.home__body {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px ;
    margin-bottom: 80px;
}
.home__body .menu {
    flex:0.2;
}
.fixtures {
    flex:0.7;
}
.fixture {
    margin-bottom: 10px;
}
.fixture__header {
    display: flex;
    justify-content: space-between;
    background-color: #282c34;
    align-items: center;
    color:white;
    font-size: 12px;
    font-weight: 600;
    padding:0 10px;
    border-bottom: 1px solid lightgray;
}
.info a{
    display: flex;
    align-items: center;
    color:white;
    text-decoration: none;
}
.info img, .fixture__details img{
    width:20px;
    height:20px;
    margin:10px
}
.fixture__body {
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.fixture__body a {
    text-decoration: none;
    color:black;
    font-size: 12px;
    font-weight:600;
}
.fixture__details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fixture__menu {
    flex:0.85;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fixture__time {
    flex:0.1;
    justify-content: center;
    text-align: center;
}
.fixture__home, .fixture__away {
    flex:0.45;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.fixture__scoreline {
    flex:0.1;
}
.fixture__scoreline .score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: #282c34;
    border-radius: 4px;
    font-weight: 600;
    padding:5px 8px;
    color: white;
}
.fixture__away {
    justify-content: flex-start;
}
.divider {
    margin:0 5px;
}
.calender__date {
    background: #7c8085;
    color:white;
    padding:4px 0;
}
.calender__date > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    margin:0 auto;
}
.selected__date {
    background: #1a2b3c;
    border:1px solid white;
    padding:4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
}
.calender__container {
    display: flex;
    justify-content: center;
    margin:20px auto;
}
 .react-calendar {
    font-family: inherit;
    border-radius: 10px;
    background: #1a2b3c;
    color:white;
}
.react-calendar__navigation {
    height:30px;
    background:white ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.5);
}
abbr[title] {
    text-decoration: none;
}
.react-calendar__month-view__weekdays {
    font-size: 12px;
    font-weight: 600;
}
.react-calendar__month-view__days__day {
    font-size: 12px;
    font-weight: 600;
    color:white;
}
.react-calendar__month-view__days__day--weekend {
    color:#d10000;
}
@media screen and (max-width: 700px){
    .home__body .menu{
        display: none;
    }
    .fixtures {
        flex:0.9;
    }
}
@media screen and (max-width: 600px) {
    .fixture__away,.fixture__home {
        font-size: 0.65em;
    }
    .fixture__scoreline .score {
        font-size: 12px;
        padding:4px 5px;
    }
    .calender__container {
        width: 80%;
    }
}