.dropdown__content {
    display: flex;
    align-items: center;
    padding:4px;
    font-size: 14px !important;
    text-decoration: none;
}
.dropdown__content img {
    width: 20px;
    margin-right: 10px;
}
