.league__stats__header {
    background-color: #1a2b3c;
    margin:0;
    padding-bottom: 5px;
}
.league__container {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: 10px;
    background-color: white;
    padding:8px 16px;
    color:black;
    cursor: pointer;
}
.league__container > div {
    margin:auto 16px;
}
.league__container > div p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 6px;
}
.league__container::-webkit-scrollbar {
    display: none;
}
.tabs {
    border:1px solid white;
    background-color: #282c34;
    width:90%;
    margin:10px auto;
    border-radius: 4px;
    display: flex;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
}
.tabs::-webkit-scrollbar {
    display: none;
}
.season {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
.season h3 {
    font-size: 14px;
    font-weight: 600;
}
.tabs button {
    background-color: inherit;
    border:none;
    cursor: pointer;
    outline:none;
    padding:6px 16px;
    color:lightgray;
}
.active__league {
    border-bottom: 3px solid #285;

}
.tabs button.active {
    background-color: #1a2b3c;
    color:white;
    border:1px solid lightgray;
}
.content__display {
    margin-top: 10px;
}
.coming__soon h3{
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}
@media screen and (min-width:900px){
    .league__container {
        justify-content: center;
    }
}
@media screen and (min-width:768px){
    .tabs {
        justify-content: center;
        width:500px;
    }
    .content__display {
        max-width: 500px;
        margin: 10px auto;
    }
}
@media screen and (max-width: 768px){
    .content__display {
        width:80%;
        margin:10px auto;
    }
}